.list li::after {
    /* ::after pseudo element requires a (content) style */
    content: ".";
 

}
.list li::before {
    content: "\00a0 \00a0 ";
   
}
p::first-line {
    color: red;
}
p::first-letter {
    font-size: 30px;
}
p::selection {
    background-color: green;
}