* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    display: inline-block;
    background-color: aqua;
    border-radius: 0 10px 0 10px;
    font-size: 30px;
    
}
li:hover {
    background-color: white;
}

p {
   margin-top: 50px;
}